@model HomeModel
@{
    ViewData["Title"] = "Əsas səhifə";
}

<main>
    <!-- slider start -->
    <section id="slider">
        <div class="slider-main-area">
            <div class="row">
                <div class="col-lg-12">
                    <div class="slider-active slier-3 owl-carousel">
                        @foreach (var slider in Model.Sliders)
                        {
                            <div class="slider-wrapper" style="background-image:url(img/@slider.Image);background-size: cover;background-repeat: no-repeat;background-position: center center;">
                                <div class="container">
                                    <div class="row justify-content-end">
                                        <div class="col-lg-11 col-md-11">
                                            <div class="slider-text-info style-5 slider-text-animation">
                                                <h1 class="title-1">@Html.Raw(slider.Title1)</h1>
                                                <h2 class="title-2">@Html.Raw(slider.Title2)</h2>
                                                <div class="slider-1-des">
                                                    <p><span></span></p>
                                                </div>
                                                <div class="slier-btn-1">
                                                    <a asp-controller="Shop" asp-action="Index" class="shop-btn">İndi al</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- slider end -->
    <!-- top selling start -->
    <section id="topSell">
        <div class="autumn" style="background-image: url('img/home_background/autumn.png');"></div>
        <div class="cloud" style="background-image: url('img/home_background/clouds.png');"></div>
        <div class="container">
            <div class="product-area-style2 box-module">
                <div class="title-style-three title-3-color">
                    <h2 class="sell">Ən çox satılanlar</h2>
                    <h6>Bu payızın ulduzları</h6>
                </div>
                <div class="product-three-wrapper">
                    <div class="row">
                        <div class="product-three-active owl-carousel">
                            @foreach (var topSeller in Model.Products.OrderByDescending(t => t.Date).Skip(5).Take(10))
                            {
                                <div class="col-lg-3">
                                    <div class="sinle-product-item">
                                        <div class="product-thumb">
                                            @if (topSeller.Discount != null && topSeller.Discount.Value != 0)
                                            {
                                                <h5>@topSeller.Discount %<p>endirim</p></h5>
                                            }
                                            else
                                            {
                                                <h5><p></p></h5>
                                            }
                                           <a asp-controller="SingleProduct" asp-action="Index" asp-route-id="@topSeller.Id" asp-route-catid="@topSeller.MarkaCategory.Category.Id">
                                                <img class="primary-image" src="~/img/@topSeller.ProductImages.FirstOrDefault()?.Image" class="img-fluid">
                                            </a>
                                            <div class="addCart add-basket" data-id="@topSeller.Id">
                                                <a class="btn-carta"><i class="fas fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <div class="rating-box">
                                            </div>
                                            <h4 class="product-name">
                                                <style>
                                                    p{
                                                        margin:0;
                                                    }
                                                </style>
                                                <a asp-controller="SingleProduct" asp-action="Index" asp-route-id="@topSeller.Id" asp-route-catid="@topSeller.MarkaCategory.Category.Id">
                                  
                                                    @Html.Raw(topSeller.Name)
                                                </a>
                                            </h4>
                                            <div class="price-box">
                                                @if (topSeller.Discount != null && topSeller.Discount.Value != 0)
                                                {
                                                    <span class="new-price oldprice">
                                                        @(topSeller.Price - (topSeller.Price * topSeller.Discount) / 100) ₼
                                                    </span>
                                                }
                                                else
                                                {
                                                    <del class="new-price oldprice">
                                                    </del>
                                                }
                                                @if (topSeller.Discount != null && topSeller.Discount.Value != 0)
                                                {
                                                    <del class="new-price">@topSeller.Price ₼</del>
                                                }
                                                else
                                                {
                                                    <span class="new-price">@topSeller.Price ₼</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- top selling end -->
    <!-- parallax reklam start -->
    <section id="parallax">
        <div class="full-banne text-lef p-lef parallax-img" style="background-image: url('img/@Model.Parallaxs.ElementAt(0).Image');">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner-contai">
                            <h5><span class="canon">@Html.Raw(Model.Parallaxs.ElementAt(0).Title1)</span></h5>
                            <h3> @Html.Raw(Model.Parallaxs.ElementAt(0).Title2)</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- parallax reklam end -->
    <!-- new arrivals start -->
    <section id="newArrivals">
        <div class="container">
            <div class="product-area-style2 box-module">
                <div class="title-style-three title-3-color">
                    <h2 class="new">YENİ GƏLƏNLƏR</h2>
                </div>
                <div class="product-three-wrapper">
                    <div class="row">
                        <div class="product-three-active owl-carousel">
                            @foreach (var newArrival in Model.Products.OrderByDescending(t => t.Date).Take(10))
                            {
                                <div class="col-lg-3">
                                    <div class="sinle-product-item">
                                        <div class="product-thumb">
                                            @if (newArrival.Discount != null && newArrival.Discount.Value != 0)
                                            {
                                                <h5>@newArrival.Discount %<p>endirim</p></h5>
                                            }
                                            else
                                            {
                                                <h5><p></p></h5>
                                            }
                                            <a asp-controller="SingleProduct" asp-action="Index" asp-route-id="@newArrival.Id" asp-route-catid="@newArrival.MarkaCategory.Category.Id">
                                                <img class="primary-image" src="~/img/@newArrival.ProductImages.FirstOrDefault()?.Image" class="img-fluid">
                                            </a>
                                            <div class="addCart add-basket" data-id="@newArrival.Id">
                                                <a class="btn-carta"><i class="fas fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <div class="rating-box">
                                            </div>
                                            <h4 class="product-name">
                                                <a asp-controller="SingleProduct" asp-action="Index" asp-route-id="@newArrival.Id" asp-route-catid="@newArrival.MarkaCategory.Category.Id">
                                                    @Html.Raw(newArrival.Name)
                                                </a>
                                            </h4>
                                            <div class="price-box">
                                                @if (newArrival.Discount != null && newArrival.Discount.Value != 0)
                                                {
                                                    <span class="new-price oldprice">
                                                        @(newArrival.Price - (newArrival.Price * newArrival.Discount) / 100) ₼
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="new-price oldprice">
                                                    </span>
                                                }
                                                @if (newArrival.Discount != null && newArrival.Discount.Value != 0)
                                                {
                                                    <del class="new-price">@newArrival.Price ₼</del>
                                                }
                                                else
                                                {
                                                    <span class="new-price">@newArrival.Price ₼</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- new arrivals end -->
    <!-- gameTime start -->
    <section id="gameTime">
        <div class="popcorn" style="background-image: url('img/home_background/popkorn.png')"></div>
        <div class="container">
            <div class="row">
                <div class="titleRest">
                    <h2>Bunları isə sevəcəksən</h2>
                    <span class="subTitleRest">İstirahət zamanıdır.</span>
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-12 col-lg-3 col-md-4">
                    <div class="itemm" style="padding-top:176px;">
                        <div class="item-picture">
                            <a href="/shop/index?categoryid=@Model.Categorys.ElementAt(3).Id">
                                <div class="card" style="width: 16rem;height:194px;">
                                    <div class="img-holder">
                                        <div class="img-small">
                                            @*<img class="card-img-top" src="~/img/product/@Model.Gametime.ElementAt(0).ProductImages.FirstOrDefault()?.Image" alt="Card image">*@
                                            <img src="~/img/product/pssmall1.jpg" alt="Alternate Text" />
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <a href="/shop/index?categoryid=@Model.Categorys.ElementAt(3).Id">
                            <div class="cover1"></div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-4">
                    <div class="itemm">
                        <div class="item-picture">
                            <a href="/shop/index?categoryid=@Model.Categorys.ElementAt(3).Id">
                                <div class="card" style="width: 16rem;height: 370px;">
                                    <div class="img-holder">
                                        <div class="img-small">
                                            @*<img class="card-img-top" src="~/img/product/@Model.Gametime.ElementAt(1).ProductImages.FirstOrDefault()?.Image" alt="Card image cap">*@
                                            @*<img class="card-img-top" src="~/img/product/@Model.Gametime.ElementAt(1).ProductImages.FirstOrDefault()?.Image" alt="Card image cap">*@
                                            <img src="~/img/product/psbig1.png" alt="Alternate Text" />
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <a href="/shop/index?categoryid=@Model.Categorys.ElementAt(3).Id">
                            <div class="cover2"></div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-4">
                    <div class="itemm">
                        <div class="item-picture">
                            <a href="#">
                                <div class="card" style="width: 16rem;height: 370px;">
                                    <div class="img-holder">
                                        <div class="img-small">
                                            <img class="card-img-top" src="~/img/game/footbalist.png" alt="Card image cap">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <a>
                            <div class="cover2"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- gameTime end -->
    <!-- banner start -->
    <section id="brand">
        <div class="container">
            <div class="our-brand-area box-module">
                <div class="single-zoom-thumb">
                    <ul class="single-product-active owl-carousel" id="gallery_01">
                        @foreach (var brand in Model.Brands)
                        {
                            <li>
                                <a href="#" class="elevatezoom-gallery"><img src="~/img/@brand.Image"></a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

    </section>
    <!-- banner end -->

</main>

